In [ ]:
import pandas as pd

In [ ]:
import numpy as pd

In [ ]:
df = pd.read_csv("/content/Diamond Price Prediction.csv")

In [ ]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [ ]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.shape

(53940, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [ ]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [ ]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [ ]:
cont=[ "carat","depth","table",'x', 'y','z','price']
cat=['cut','color', 'clarity']

In [ ]:
# Creating dummies for 3 categorical variables and dropping the first reductant variable.
cut=pd.get_dummies(df["cut"],drop_first=True)
color=pd.get_dummies(df["color"],drop_first=True)
clarity=pd.get_dummies(df["clarity"],drop_first=True)

In [ ]:
# Adding the dummy variables to the dataframe.
df=pd.concat([cut,color,clarity,df],axis=1)
df.head()

,Good,Ideal,Premium,Very Good,E,F,G,H,I,J,...,carat,cut,color,clarity,depth,table,price,x,y,z
0,0,1,0,0,1,0,0,0,0,0,...,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0,0,1,0,1,0,0,0,0,0,...,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,1,0,0,0,1,0,0,0,0,0,...,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0,0,1,0,0,0,0,0,1,0,...,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,1,0,0,0,0,0,0,0,0,1,...,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [ ]:
#Dropping the main 3 categorical variables from dataframe
df.drop(cat,axis=1,inplace=True)

In [ ]:
df.shape

(53940, 24)

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import MinMaxScaler

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [ ]:
df_final=df.apply(LabelEncoder().fit_transform)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df.isna().sum() #returns number of missing values in each column

Good         0
Ideal        0
Premium      0
Very Good    0
E            0
F            0
G            0
H            0
I            0
J            0
IF           0
SI1          0
SI2          0
VS1          0
VS2          0
VVS1         0
VVS2         0
carat        0
depth        0
table        0
price        0
x            0
y            0
z            0
dtype: int64

In [ ]:
X = df_final.drop(['price'], axis=1)
y = df_final['price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
mms=MinMaxScaler()

In [ ]:
X_train=mms.fit_transform(X_train)
X_test=mms.transform(X_test)

In [ ]:
lr=LinearRegression()
lr.fit(X_train,y_train)

In [ ]:
y_pred=lr.predict(X_test)

In [ ]:
accuracy_lr=cross_val_score(estimator = lr, X = X_train, y = y_train)
score_lr=lr.score(X_test,y_test)
r2_lr=r2_score(y_test,y_pred)
mse_lr=mean_squared_error(y_test,y_pred)

print(f'Accuracy is {accuracy_lr}')
print(f'Score is {score_lr}')
print(f'r2_Score is {r2_lr}')
print(f'Mean Squared error is {mse_lr}')

Accuracy is [0.94627454 0.94412099 0.94624985 0.94421885 0.9459798 ]
Score is 0.9465645921636292
r2_Score is 0.9465645921636292
Mean Squared error is 475718.9704434035

In [ ]:
regr_rf = RandomForestRegressor(max_depth=2, random_state=0)
regr_rf.fit(X_train,y_train)


y_pred=regr_rf.predict(X_test)

accuracy_regr_rf=cross_val_score(estimator = regr_rf, X = X_train, y = y_train)
score_regr_rf=regr_rf.score(X_test,y_test)
r2_regr_rf=r2_score(y_test,y_pred)
mse_regr_rf=mean_squared_error(y_test,y_pred)

print(f'Accuracy is {accuracy_regr_rf}')
print(f'Score is {score_regr_rf}')
print(f'r2_Score is {r2_regr_rf}')
print(f'Mean Squared error is {mse_regr_rf}')

Accuracy is [0.86985074 0.87270738 0.8749327  0.87284507 0.87328399]
Score is 0.872156259903917
r2_Score is 0.872156259903917
Mean Squared error is 1138153.4244555188

In [ ]:
kneigh=KNeighborsRegressor(n_neighbors=2)
kneigh.fit(X_train,y_train)


y_pred=kneigh.predict(X_test)

accuracy_kneigh=cross_val_score(estimator = kneigh, X = X_train, y = y_train)
score_kneigh=kneigh.score(X_test,y_test)
r2_kneigh=r2_score(y_test,y_pred)
mse_kneigh=mean_squared_error(y_test,y_pred)

print(f'Accuracy is {accuracy_kneigh}')
print(f'Score is {score_kneigh}')
print(f'r2_Score is {r2_kneigh}')
print(f'Mean Squared error is {mse_kneigh}')

Accuracy is [0.97112489 0.9662733  0.96716191 0.96787161 0.97080509]
Score is 0.9705078102872061
r2_Score is 0.9705078102872061
Mean Squared error is 262559.8773243076